
.revesapprenant  {
	background-color: #FFF7D4;
	font-size: large;
	display: flex;
	flex-direction: column;
	width: 60%;
	/* height: 400px; */
	margin: auto;


}
.revesapprenant h1 {
	padding-top: 30px;
	text-align: center;
	font-size: large;
}
.revesapprenant h2{
	font-size: medium;
	padding-top: 15px;
	padding-bottom: 15px;
}

.objectifs {
	display: flex;
	justify-content: center;
	margin-top: 30px;

}

.personnels {
	width: 80%;
	height: 300px;
	margin-left: 15px;
	background-color: white;
	border-radius: 30px;
	padding-top: 50px;
	margin-bottom: 20px;
	padding-left: 30px;
}

.professionnels {
	width: 80%;
	height: 300px;
	margin-left: 15px;
	background-color: white;
	border-radius: 30px;
	padding-top: 50px;
	margin-bottom: 20px;
	padding-left: 30px;
	
}

.engagements {
	width: 80%;
	height: 300px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
	border-radius: 30px;
	padding-top: 50px;
	margin-bottom: 20px;
	padding-left: 30px;

}