

.mespassions{
	width: 80%;
	margin: auto;
	margin-top: 10px;
	background-color: #FFF7D4 ;
    display: flex;
}

.mespassions h1{
	display: flex;
	margin: auto;
	align-items: center;
	margin-top: 10px;
	font-size:large ;
}
.mespassions h2{
	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: medium;
}
.passions{
	
	/* margin:auto ;
	margin-top: 100px; */
	display: flex;
	flex-direction: column;
	
}
.pass {
	display: flex;
margin-left: 65px;
}
.passions img{

width: 300px;
height: 300px;
}

.voyage{
	margin: 20px;
}
.pass p {
	padding: 15px;
	margin-left: 10px;
}

.patisserie{
	margin: 20px;
}

.déco{
	margin: 20px;
	margin-left: 10px;
}
figcaption{
	margin-left: 100px;
}